In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

In [2]:
# Insert CSV data
df = pd.read_csv(r'C:\Users\khiru\OneDrive\Desktop\IS362\movies.csv', index_col=0)
df

                     Bob  Kim  Joe
GoodFellas             4  5.0  5.0
Irishman               3  NaN  5.0
Bronx Tale             4  3.0  5.0
Godfather              5  5.0  5.0
Scarface               3  3.0  5.0
Wolf of Wall Street    2  1.0  NaN

In [3]:
# Average rating for each user
df.mean()

Bob    3.5
Kim    3.4
Joe    5.0
dtype: float64

In [4]:
# average rating for each movie
df2 = pd.Series(df.mean(axis=1))
df2

GoodFellas             4.666667
Irishman               4.000000
Bronx Tale             4.000000
Godfather              5.000000
Scarface               3.666667
Wolf of Wall Street    1.500000
dtype: float64

In [5]:
#data frame with normalized series
ratings_norm = ((df - df.min()) / (df.max() - df.min())).transpose()
ratings_norm

,GoodFellas,Irishman,Bronx Tale,Godfather,Scarface,Wolf of Wall Street
Bob,0.666667,0.333333,0.666667,1.0,0.333333,0.0
Kim,1.000000,NaN,0.500000,1.0,0.500000,0.0
Joe,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# AVerage by user
ratings_norm.mean(axis=1)

Bob    0.5
Kim    0.6
Joe    NaN
dtype: float64

In [7]:
# Average by movie
mov_norm = pd.Series(ratings_norm.mean())
mov_norm

GoodFellas             0.833333
Irishman               0.333333
Bronx Tale             0.583333
Godfather              1.000000
Scarface               0.416667
Wolf of Wall Street    0.000000
dtype: float64

Conclusion:

The normalized rating has advantage since a low or hugh rating by one single user won't have much of an effect. The disadvantage is the mean rating won't mean much. It may not be accurate as the non-normalized one.